.container{
    width:40%;
    margin: auto;
    text-align: center;
    background-color: lightgray;
}
.container1{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}
.mini-container{
    border: 1px solid black;
    width: 30%;
}
.container2{
    text-align: center;
    width: 70%;
    margin: auto;
}
hr{
    width: 5%;
    
}
div{
    padding: 10px;
}