div{
    border: 1px dashed black;
    padding: 0px 20px 20px 20px;
}
.margin{
    background-color: red;
    width : 30%;
    margin: auto;
}
.border{
    background-color: green;
}
.padding{
    background-color: blue;
}
.content{
    background-color: yellow;
    text-align: center;
    align-items: center;
}