main{
    border: 1px solid green;
    padding: 10px 40px;
}
section{
    border: 1px solid blue;
    padding: 20px;
    
}
article{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}