main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid green;
    padding: 20px;
}
.header, .footer{
    padding: 30px;
    border: 1px solid blue;
}
.main{
    border: 1px solid blue;
    padding: 30px 200px 200px 30px;
}