div{
    padding: 10px;
    background-color: lightgray;
    margin: 20px;
    display: flex;
    gap:15px;
}
button{
   
    background-color: white;
    cursor: pointer;
    font-size: large;
    border: none;
    padding: 5px 10px;
    color: orange;
    border-radius: 5px;
}
button:hover{
    background-color: orange;
    color: white;
}