main{
    border: 1px solid green;
    padding: 10px;
    padding-bottom: 0px;
}
section{
    border: 1px solid black;
    padding: 8px 30px;
    margin: 20px;
    
}
article{
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
}
.last-section{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.last-article{
    margin-bottom: 0px;
}