h1{
    font-family: Arial, sans-serif;
    padding: 10px 20px;
}
.icon-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.icon-btn:hover {
    color: white;
  background-color: black;
}


