img{
    width: 100%;
}
.card-ctr{
    width:20%;
    border:2px solid black;
    border-radius: 20px;
    background-color: white;

}
.text-ctr{
    padding: 10px;
}
.big-text{
    font-weight: bold;
    font-size: 20px;
    
}
.img-ctr{
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
body{
    background: rgb(183, 183, 183);
}